.popup__submit {
    margin-top: 45px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (min-width: 918px) {
    .popup__submit {
        margin-top: 48px;
        font-size: 18px;
        line-height: 22px;
    }
}