.popup__close-button {
    background: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -36px;
    right: 0;
    background-image: url(../../../images/cross.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 918px) {
    .popup__close-button {
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px;
    }
}