.pop-up__submit {
    margin-top: 45px;
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    transition: 0.3s;
}

.pop-up__submit:hover {
    opacity: 0.8;
}

@media screen and (min-width: 918px) {
    .pop-up__submit {
        margin-top: 48px;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 18px;
    }
}