.profile__info {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 918px) {
    .profile__info {
        margin: 22px 0 0 30px;
    }
}